<div class="footer">
    <div>
        <h1>Company Logo</h1>
    </div>
    <div>
        <img src="{{ iconInstagram }}" id="instagram" (mouseover)="onMouseInstagram()" (mouseout)="onMouseInstagramOut()">
        <img src="{{ iconFacebook }}" id="facebook" (mouseover)="  onMouseFacebook()" (mouseout)="onMouseFacebookOut()">
        <img src="{{ iconTwitter }}" id="twitter" (mouseover)=" onMouseTwitter()" (mouseout)=" onMouseTwitterOut()">
    </div>
    <div>
        <p>&copy;2020 Created by Force. All Rights Reserved.</p>
    </div>
</div>