.footer {
    height: 100px;
    width: 100%;
    background-color: #101010;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
}

.footer h1 {
    font-size: 25px;
    font-weight: bold;
    border-right: 1px white solid;
    margin-left: 100px;
    margin-right: 20px;
    color: #ff8800;
    padding: 12px;
}

.footer img {
    max-height: 22px;
    float: right;
    padding: 0 20px;
    cursor: pointer;
}

.footer p {
    margin-left: 450px;
    color: white;
    opacity: 0.6;
    font-size: 12px;
    padding: 12px;
}