<div class="container">
    <div class="title">
        <h1>Halloween Fest 2020</h1>
    </div>
    <div class="date">
        <p>December, 25, 2020</p>
    </div>
    <div class="adress">
        <p>99 Figueroa street Los Angeles, California</p>
    </div>
    <div class="time">
        <div>
            <p>Days</p>
            <span>153</span>
        </div>
        <div>
            <p>Hours</p>
            <span>07</span>
        </div>
        <div>
            <p>Minutes</p>
            <span>37</span>
        </div>
        <div>
            <p>Seconds</p>
            <span>35</span>
        </div>
    </div>
</div>

<div class="main-container">
    <div class="text-container">
        <div class="title-txt">
            <h1>About The Event</h1>
        </div>
        <div>
            <p>Vestibulum et eros vitae ligula sollicitudin semper. Praesent non varius arcu. Phasellus iaculis eget justo vulputate iaculis,Vestibulum et eros vitae ligula sollicitudin semper.</p>
        </div>
        <div>
            <a>Book Your Seat</a>
            <a>View Schedule</a>
        </div>
    </div>
    <div class="img-container">
        <div class="img"></div>
    </div>
</div>