<div class="mainProfile">
    <div class="userPhoto">
        <img src="assets/user.png" class="imageUser">
        <p>User name</p>
        <div class="links">
            <div class="account">
                <img src="assets/user.png">
                <a href="">Account</a>
            </div>
            <div class="account">
                <img src="assets/user.png">
                <a href="">Change password</a>
            </div>
            <div class="account">
                <img src="assets/user.png">
                <a href="">Address</a>
            </div>
            <div class="account">
                <img src="assets/user.png">
                <a href="">Delete account</a>
            </div>
        </div>
    </div>
    <div class="userData">


    </div>
</div>